.footer {
  background-color: black;
  height: 100px;
  margin-top: 20px;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.icons {
  margin-left: 80px;
  img {
    width: 25px;
    margin-right: 5px;
  }
}
