.navbar {
  height: 108px;
  border-bottom: 3px solid #f6bc5a;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.logo {
  width: 400px;
}

.links {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  align-items: center;

  a{
    margin-left: 10px;
    color: black;
    text-decoration: none;
  }


  a.active-link{
    text-decoration: none;
    color: orange;

  }

}
