<div class="squares">
  <div class="item main">

  </div>
  <div class="item container">
    <h1>Title</h1>
    <p>Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
      ali
      quam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
      ut
      aliquip ex ea</p>
    <div class="orange"></div>
  </div>

  <div class="item container">
    <h1>Title</h1>
    <p>Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna ali
      quam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
      aliquip ex ea</p>
    <div class="amarelo"></div>
  </div>

  <div class="item container">
    <h1>Title</h1>
    <p>Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna ali
      quam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
      aliquip ex ea</p>
    <div class="orange"></div>
  </div>

</div>