<div class="squares">
  <div class="item main">
    REL 2020
  </div>
  <div class="remaining">
    <div class="item orange">
      <iframe style="position: relative; height: 100%; width: 100%;" src="https://player.vimeo.com/video/405222994"
        scrolling="no" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <div class="item amarelo"></div>
    <div class="item amarelo">
      <iframe style="position: relative; height: 100%; width: 100%;" src="https://player.vimeo.com/video/405222994"
        scrolling="no" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <div class="item orange">
      <iframe style="position: relative; height: 100%; width: 100%;" src="https://player.vimeo.com/video/405222994"
        scrolling="no" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
</div>